<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yogeshkohli.personalbook">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContactDeveloperActivity" />
        <activity android:name=".AboutAppActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".NewNoteOptionsActivity" />
        <activity android:name=".NoteTypeTextActivity" />
        <activity android:name=".NoteTypeDrawActivity" />
        <activity android:name=".NoteTypeAudioActivity" />
        <activity android:name=".DrawingActivity" />
        <activity android:name=".NotesListActivity" />
        <activity android:name=".PasswordEnterActivity" />
        <activity android:name=".NoteDetailsScreenActivity" />
        <activity android:name=".NoteEditScreenActivity"></activity>
    </application>

</manifest>